* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  position: relative;
  padding-top: 4rem;
  padding-bottom: 4rem;
  box-sizing: border-box;
}

.rightContent {
  background-color: #cdcdcd;
  padding-top: 2em;
  display: block;
  width: 100%;
  height: 700px;
}

.leftContent {
  display: flex;
  width: 100%;
  vertical-align: middle;
  background-color: #cdcdcd;
  overflow-y: scroll;
}

.title {
  width: 100%;
  position: relative;
  margin-top: 1em;
  margin-bottom: 1em;
  display: inline;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  color: #328cc1;
  font-size: x-large;
}

.subtitle {
  width: 100%;
  color: #328cc1;
  margin-bottom: 2em;
}

.texts {
  margin-top: 0rem;
  text-align: justify;
  width: 100%;
  display: inline;
}

.texts span {
  color: blue;
}

.horizontalContainer {
  display: flex;
  margin: 1rem;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 180vh;
}

.image_1 {
  vertical-align: middle;
  width: 5%;
}

.image_2 {
  vertical-align: middle;
  width: 2%;
}

.image_3 {
  vertical-align: middle;
  width: 8%;
}

.image_4 {
  vertical-align: middle;
  width: 2%;
}

.image_5 {
  vertical-align: middle;
  width: 20%;
}
.image_6 {
  vertical-align: middle;
  width: 20%;
}
.image_7 {
  vertical-align: middle;
  width: 20%;
}
.image_8 {
  vertical-align: middle;
  width: 20%;
}
.image_9 {
  vertical-align: middle;
  width: 20%;
}
.image_10 {
  vertical-align: middle;
  width: 20%;
}
.image_11 {
  vertical-align: middle;
  width: 20%;
}
.image_12 {
  vertical-align: middle;
  width: 20%;
}
