:root {
    --light-color: #F8F9FA;
    --secondary-color: #426cb4;
    --dark-gray: #575757;
    --light-gray: #b2b2b2;
    --lighter-gray: #d1d1d1;
}

.BlockchainPage {
    text-align: center;
}

.btn {
    background-color: #328CC1;
    margin: 0rem;
    color: white;
    height: 3rem;
    width: 10rem;
    text-align: center;
    font-size: large;
    vertical-align: middle;
}

.btn:hover {
    background: #426cb4;
}