.footerContent {
    background-color: #C0B3A0;
    color: #426cb4;
    text-align: center;
    padding: 3rem;
    width: 100%;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list li {
    margin: 0 1em;
}

.social_list li:hover {
    color: black;
}

.social_list svg {
    font-size: 1.5em;
}

.copy_right {
    margin-top: 2em;
}

.copy_right span {
    font-weight: bold;
    color: #426cb4;
}